<footer>
  {% if next or prev %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if next %}
        <a href="{{ next.link|e }}" class="btn btn-neutral float-right" title="{{ next.title|striptags|e }}">Next <span class="fa fa-arrow-circle-right"></span></a>
      {% endif %}
      {% if prev %}
        <a href="{{ prev.link|e }}" class="btn btn-neutral" title="{{ prev.title|striptags|e }}"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}

  <hr/>

  <div role="contentinfo">
    {%- block extrafooter %}
        <p>Contact us at <a href=mailto:help@geoalert.io>help@geoalert.io</a> and on:</p>
        <p>
            <a href="https://twitter.com/geoalertinc"><img style="width: 30px; height: 30px; margin-right: 20px" src="{{ pathto('_static/social/Twitter_Social_Icon_Circle_Color.svg', 1) }}" alt="twitter"></a>
            <a href="https://www.facebook.com/GeoAlertLtd/"><img style="width: 30px; height: 30px; margin-right: 20px" src="{{ pathto('_static/social/f_logo_RGB-Blue_58.png', 1) }}" alt="facebook"></a>
            <a href="https://medium.com/geoalert-platform-urban-monitoring"><img style="width: 30px; height: 30px;" src="{{ pathto('_static/social/Medium_Monogram.svg', 1) }}" alt="medium"></a>
        </p>
    {% endblock %}
    <p>
    {%- if show_copyright %}
      {%- if hasdoc('copyright') %}
        {% set path = pathto('copyright') %}
        {% set copyright = copyright|e %}
        &copy; <a href="{{ path }}">{% trans %}Copyright{% endtrans %}</a> {{ copyright }}
      {%- else %}
        {% set copyright = copyright|e %}
        &copy; {% trans %}Copyright{% endtrans %} {{ copyright }}
      {%- endif %}
    {%- endif %}

    {%- if build_id and build_url %}
      <span class="build">
        {# Translators: Build is a noun, not a verb #}
        {% trans %}Build{% endtrans %}
        <a href="{{ build_url }}">{{ build_id }}</a>.
      </span>
    {%- elif commit %}
      <span class="commit">
        {% trans %}Revision{% endtrans %} <code>{{ commit }}</code>.
      </span>
    {%- elif last_updated %}
      <span class="lastupdated">
        {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
      </span>
    {%- endif %}
    </p>
  </div>
  
</footer>
